<nav class="navbar navbar-expand-lg navbar-light bg-light">

<img src="/assets/image/nexus.png" class="heightImage" alt="image">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <div class="form-inline">
      <ul class="navbar-nav mr-auto">
        <li>          <a *ngIf="sessionClient != null" class="nav-item nav-link active " >email:{{email}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">

          <a *ngIf="sessionClient != null" class="nav-item nav-link active" (click)="logout()">Logout <span class="sr-only">(current)</span></a>

          <a *ngIf="sessionClient == null"  class="nav-item nav-link active " routerLink="/login">login </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
